* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
  outline: 0 none;
}

body {
  font-family: Arial, sans-serif;
}

input {
  font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.layout__content {
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  top: -120px;
  width: 680px;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.layout__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 124px;
}

.layout__image  {
  flex: 0 0 auto;
  width: calc(100% - 680px);
  background: url('../images/bg.jpg') no-repeat left center;
  background-position: cover;
}

.logo {
  padding-top: 70px;
  margin-top: 70px;
}

.nav {
  padding-top: 80px;
  margin-top: 80px;
  margin-right: 8px;
}

.nav__link {
  margin-right: 25px;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
  color: #6A707B;
  text-decoration: none;
}

.form-subscribe__title {
  margin-left: 50px;
  font-family: Georgia, normal;
  font-size: 32px;
  line-height: 44px;
}

.form-subscribe__desc {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
}

.form-subscribe__field-email {
  width: calc(100% + 180px);
  height: 70px;
  margin-bottom: 15px;
  position: relative;
}

.form-subscribe__input:focus {
  border: 3px solid #4066A5  ;
  box-shadow: 1px 1px 2px 0 #4066A5;
}

.form-subscribe__field-email .textfield__control {
  padding-left: 30px;
  border-left: 3px solid #4066A5;
}

.form-subscribe__submit {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0 none;
  background: url('../images/arrow-right.png') center center no-repeat;
}

.textfield__control {
  width: 100%;
  height: 100%;
  border: 1px solid #F2F5FA;
  background: #F2F5FA;
  font-size: 13px;
}

.form-subscribe__agreements {
  margin-left: 50px;
}

.checkbox__label {
  color: #6A707B;
}

.layout__footer { 
  display: block;
  size: 3px;
  width: 250px;
  align-items: center;
}

.layout__footer {
  display:inline-block;
  width: 56px;
  height: 56px;
  left: 128px;
}

.social-links { 
  display: block;
  size: 3px;
  width: 250px;
  align-items: center;
}

.social-media {
  display:block;
  padding-left: 150px;
}

.social-links__item {
  display:inline-block;
  background: url('../images/Socialicons.png') no-repeat;
  width: 56px;
  height: 56px;
  left: 228px;
}
